body {
  font-family: 'Lato', sans-serif;
  color: #fff;
}
nav {
  z-index: 1000;
}

.navbar-fixed-top {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  height: 100px;
  transition: background-color 2s ease 0s;
  background-color: rgba(255,255,255,0.5);
  .navbar-brand {
    position: absolute;
    left: calc(50% - 31.055px);
    img {
      height: 70px;
    }
  }
}

.navbar-fixed-top.transparent {
  background-color: rgba(255,255,255,1);
  border-bottom: 1px solid #3b3a36;
  transition: background-color 2s ease 0s,
              border-bottom 1s ease 0s;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

.top {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: url(../img/background.jpg) 50% 0 repeat fixed;
  background-size: cover;
  overflow: hidden;
  #content {
    margin: 0 auto;
    padding-top: 25%;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.5),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    .typed-cursor{
     	opacity: 1;
     	-webkit-animation: blink 0.7s infinite;
     	-moz-animation: blink 0.7s infinite;
     	animation: blink 0.7s infinite;
     }
     @keyframes blink{
     	0% { opacity:1; }
     	50% { opacity:0; }
     	100% { opacity:1; }
     }
     @-webkit-keyframes blink{
     	0% { opacity:1; }
     	50% { opacity:0; }
     	100% { opacity:1; }
     }
     @-moz-keyframes blink{
     	0% { opacity:1; }
     	50% { opacity:0; }
     	100% { opacity:1; }
     }
  }
}

.about {
  background: #e9ece5;
  height: 500px;
  position: relative;
  @media screen and (max-width: 992px) {
    height: 720px;
  }
  @media screen and (max-width: 621px) {
    height: 1000px;
  }
  .skills, .learning {
    text-align: center;
    margin-top: 90px;
    @media screen and (max-width: 1200px) {
      margin-top: 60px;
    }
  }
  i {
    color: #3b3a36;
    font-size: 4em;
  }
  h2 {
    color: #3b3a36;
    margin-top: 10px;
  }
  p {
    color: #3b3a36;

    .text {
      line-height: 2em;
      font-size: 18px;
      position: relative;
      top: 90px;
      @media screen and (max-width: 1200px) {
        top: 60px;
      }
      @media screen and (max-width: 370px) {
        top: 20px;
      }
    }
  }
}

.work {
  background: #3b3a36;
  height: 600px;
  position: relative;
  @media screen and (max-width: 992px) {
    height: 1070px;
  }
  @media screen and (max-width: 620px) {
    height: 1420px;
  }
  .thumbnail {
    position: relative;
    top: 80px;
    height: 450px;
    background: #e9ece5;
    @media screen and (max-width: 620px) {
      width: 300px;
      margin: 5px auto;
      top: 25px;
    }
    .btn.btn-default {
      position: absolute;
      bottom: 5px;
      margin: 0 auto;
      right: 23%;
      @media screen and (max-width: 1200px) {
        right: 17%;
      }
      i {
        font-size: 1.5em;
        position: relative;
        top: 3px;
      }
    }
    img {
      height: 200px;
      width: 250px;
    }
    .caption{
      text-align: center;
      .summary {
        text-align: left;
      }
    }
  }
}

footer {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #b3c2bf;
  color: #3b3a36;
  @media screen and (max-width: 720px) {
    height: 125px;
  }
  .message {
    text-align: center;
    position: relative;
    top: 5px;
    @media screen and (max-width: 992px) {
      font-size: 11px;
    }
    a {
      font-size: 2em;
      color: #3b3a36;
      i {
        position: relative;
        top: 5px;
        left: 5px;
      }
    }
  }
  .copy {
    text-align: center;
    margin-top: 30px;
  }
}
